.video-nav-container {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.grid-container {
    justify-content: center;
    flex: 10.5;
}

.video {
    width: 650px;
}

.paper {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}

.right-side-panel {
    background-color:white;
    flex: 1.5;
    height: 100%;
    bottom: 100px;
    border: 3px solid rgba(0, 128, 128, 0.454);
    box-shadow: 5px 10px 20px rgba(0, 128, 128, 0.302);
    margin-top: 5px;
}

.topSide {
    justify-content: top;
    color: white;

}

.video-nav-item {
    /* margin-right: 15px;
    cursor: pointer;
    position: relative; */

    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 15px;
}

.video-nav-item:hover {
    background-color: lightcoral;
}


    
.bottomSide {
    color: teal;
    /* border: 2px solid red; */
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;

}

.right-icons-container {
    padding-left: 40px;
    position: relative;
    /* border: 2px solid blue; */
  

}

.end-call-btn {
  
    margin-right: 15px;
    cursor: pointer;
    position: relative;

  
    
    
}