.chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight:  500;
    cursor: pointer;
    margin-top: 15px;
}

.chatOnlineImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.chatOnlineImgContainer {
    position: relative;
    margin-right: 10px;

}

.chatOnlineBadge {
    position:absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(78, 233, 78);
    top: 2px;
    right: 2px;

}